<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <test verbose="2" preserve-order="true"
          name="/Users/beautyakter/IdeaProjects/TestNGReport/src/main/java/org/example">
        <classes>
            <class name="org.example.Main">
                <methods>
                    <include name="login"/>
                    <include name="Order"/>
                    <include name="ShoppingCart"/>
                    <include name="ConfirmOrder"/>
                    <include name="Finish"/>
                    <include name="BackHome"/>
                    <include name="MainMenu"/>
                    <include name="LogOut"/>
                </methods>
            </class>
        </classes>
    </test>
</suite>